.navbar{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          background: #fff;
          padding: 15px 7%;
          transition: 0.5s;
}
.logo{
          width: 160px;
          cursor: pointer;
}
ul{
          flex: 1;
          list-style: none;
          text-align: center;
}
ul li{
          display: inline-block;
          cursor: pointer;
          margin:10px 20px ;
          font-size: 18px;
}
.toggle{
          width: 50px;
          cursor: pointer;
          margin-left: 40px;
}
.search-box{
          display: flex;
          align-items: center;
          background: #242424;
          padding: 10px 20px;
          border-radius: 50px;
}
.search-box input{
          padding: 6px;
          background: transparent;
          outline: 0;
          border: 0;
          color: #fff;
          font-size: 18px;
          max-width: 200px;
}
.search-box input::placeholder{
          color: #fff;
}
.search-box img{
          width: 20px;
          cursor: pointer;

}
.dark .navbar{
          background: #0000;
          color: #fff;
}
.dark .search-box{
          background: #fff;
}
.dark .search-box input{
          background: #fff;
}
.dark .search-box input::placeholder{
          color: #242424;
}